@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.container h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.container h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: lightgray;
}
 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 249, 255);
  border-radius: 20px;
  height: 920px;
  justify-content: center;
}

.container_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 300px;
}

.position {
  color: gray;
  margin-top: 8px;
}

.avatar {
  margin-top: -95px;
  width: 200px;
  height: 270px;
  border-radius: 20px;
}

.user-info {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 15px;
  background-color: rgb(243, 249, 255);
  border-radius: 8.27px;
  margin: 4px;
}

.items_card {
  background-color: rgb(243, 249, 255);
  border-radius: 20px;
  width: 260px;
  padding: 20px 0;
  margin: 10px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.items_string {
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px;
  border-width: 1px;
}

.card_icon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.card_info {
  margin-left: 10px;
  font-size: 16px;
  width: 180px;
}

.button {
  margin: 16px 0;
  background-color: aqua;
  border-radius: 20px;
  border-width: 0;
  width: 185px;
  height: 52px;
  font-size: 14px;
  cursor: pointer;
}
